<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="west-menu" style="width: 100%; float:left">   
    <h1 style="width:100%;">Menu</h1>
    <div class="top-menu col-md-12"style="width: 100%;">
      <%= render :partial => "/layouts/details/menu_detail" %>
    </div>
    <div>
      <div class="left-bar-menu" style="width: 20%; float:left;">
        <%= load_menu_helper(@main_menu_admin) %>
      </div>
      <div style = "width: 70%; float:left;">
        <%= yield %>
      </div>
    </div>
  </div>
  
</body>
</html>
